.heading{
   
   color: #C8F7F3;
   margin: 50px 0 30px;
   /* box-shadow: 0 4px 8px 0 #C8F7F3, 0px 6px 20px 0 #C8F7F3; */
   background: rgb(10,25,41);
background: linear-gradient(45deg, rgba(10,25,41,1) 0%, rgba(53,135,222,1) 45%, rgba(10,25,41,1) 99%, rgba(10,25,41,1) 100%);
}
